[submodule "vendor/Auryn"]
	path = vendor/Auryn
	url = https://github.com/rdlowrey/Auryn.git
[submodule "vendor/Alert"]
	path = vendor/Alert
	url = https://github.com/rdlowrey/Alert.git
[submodule "vendor/FastRoute"]
	path = vendor/FastRoute
	url = https://github.com/nikic/FastRoute.git
[submodule "vendor/Amp"]
	path = vendor/Amp
	url = https://github.com/rdlowrey/Amp.git
[submodule "vendor/After"]
	path = vendor/After
	url = https://github.com/rdlowrey/After.git
