[submodule "vendor/Auryn"]
	path = vendor/Auryn
	url = git@github.com:rdlowrey/Auryn.git
[submodule "vendor/Amp"]
	path = vendor/Amp
        url = git@github.com:rdlowrey/Amp.git
[submodule "vendor/vfsStream"]
	path = vendor/vfsStream
	url = git://github.com/mikey179/vfsStream.git
[submodule "vendor/Artax"]
	path = vendor/Artax
	url = https://github.com/rdlowrey/Artax.git
