
body {
    font-family: Sans-Serif;
    padding: 25px;
}

#messages {
    min-height: 150px;
    background-color: #e5e5e5;
}

#messages span {
    display: block;
    clear:both;
    padding: 5px;
}

#messages span.me {
    background-color: #f2f2f2;
}

#messages span.someoneElse {
    background-color: #ccc;
}
