#messages {
  min-height: 150px;
  background-color: #e5e5e5;
  border-radius: 6px;
}

#messages span {
    display: block;
    clear:both;
    padding: 5px;
    border-radius: 6px;
}

#messages span.me {
    background-color: #f2f2f2;
    border-radius: 6px;
}

#messages span.someoneElse {
    background-color: #ccc;
    border-radius: 6px;
}

#userCount {
    margin-left: 10px;
}
